<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign-Up</h1>
    <form method="post" action="/user">
        <label for="">Full Name</label>
        <input type="text" required name="name" placeholder="Alex Singh">

        <label for="">Email</label>
        <input type="text" required name="email" placeholder="Alex123@gmail.com">

        <label for="">Password</label>
        <input type="text" required name="password" placeholder="12345">

        <button type="submit">Signup</button>

    </form>

</body>
</html>